:root {
  --cinza: #aaa;
  --vermelha: #e93d50;
  --vermelha-escura: #af303f;
  --branca: #fff;
  --luz: rgb(229, 255, 0);
}

body {
  align-items: center;
  background: linear-gradient(45deg, #a7cfdf 0%,#23538a 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  $starFieldWidth: 2560
$starFieldHeight: 2560
$starStartOffset: 600px

$starOneScrollDuration: 100s
$starTwoScrollDuration: 125s
$starThreeScrollDuration: 175s
$numStarOneStars: 1700
$numStarTwoStars: 700
$numStarThreeStars: 200
$numShootingStars: 10
$width: 100%

html
  height: 100%
  body
    width: 100%
    height: 100%
    margin: 0
.container
  display: block
  position: relative
  width: 100%
  height: 100%
  background: linear-gradient(to bottom, #020107 0%, #201b46 100%)
  .text
    color: #FFF
    position: absolute
    top: 50%
    right: 50%
    margin: -10px -75px 0 0
    font-size: 20px
    font-family: sans-serif
    font-weight: bold
  
@function create-stars($n)

  $stars: "#{random($starFieldWidth)}px #{random($starFieldHeight)}px #FFF"

  @for $i from 2 through $n
    $stars: "#{$stars} , #{random($starFieldWidth)}px #{random($starFieldHeight)}px #FFF"

  @return unquote($stars)

@mixin star-template($numStars, $starSize, $scrollSpeed)
  z-index: 10
  width: $starSize
  height: $starSize
  border-radius: 50%
  background: transparent
  box-shadow: create-stars($numStars)
  animation: animStar $scrollSpeed linear infinite
  &:after
    content: " "
    top: -$starStartOffset
    width: $starSize 
    height: $starSize
    border-radius: 50%
    position: absolute
    backgroud: transparent
    box-shadow: create-stars($numStars)
    
  
@mixin shooting-star-template($numStars, $starSize, $speed)
  z-index: 10
  width: $starSize
  height: $starSize + 80px
  border-top-left-radius: 50%
  border-top-right-radius: 50%
  position: absolute
  bottom: 0
  right: 0
  background: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1))
  animation: animShootingStar $speed linear infinite
  
.stars
  @include star-template($numStarOneStars, 1px, $starOneScrollDuration)
.stars1
  @include star-template($numStarTwoStars, 2px, $starTwoScrollDuration)
.stars2
  @include star-template($numStarThreeStars, 3px, $starThreeScrollDuration)
.shooting-stars
  @include shooting-star-template($numShootingStars, 5px, 10s)
    
@keyframes animStar
  from
    transform: translateY(0px)
  to
    transform: translateY(-#{$starFieldHeight}px) translateX(-#{$starFieldWidth}px)
    

@keyframes animShootingStar
  from
    transform: translateY(0px) translateX(0px) rotate(-45deg)
    opacity: 1
    height: 5px
  to
    transform: translateY(-#{$starFieldHeight}px) translateX(-#{$starFieldWidth}px) rotate(-45deg)
    opacity: 1
    height: 800px
  
    
}

h1 {
  color: var(--branca);
  margin-bottom: 20px;
  font-size: 2rem;
}

.teclado {
  background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
  box-shadow: 6px 8px 0 6px #666, 10px 10px 10px #000;
  border-radius: 30px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.tecla {
  background-color: var(--branca);
  border-radius: 30px;
  box-shadow: 3px 3px 0 var(--cinza);
  color: var(--vermelha);
  cursor: pointer;
  height: 120px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  width: 120px;
}

.tecla.ativa,
.tecla:active {
  background-color: var(--vermelha);
  border: 4px solid  var(--vermelha);
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset;
  color: var(--branca);
  outline: none;
}

.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--luz);
}

.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset, 1px 1px 10px var(--luz);
}
